body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 900px;
    margin: auto;
    overflow: hidden;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 10px 20px #8080803b;
}

.logo {
    width: 100%;
    float: left;
}

nav {
    width: 80%;
    float: right;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 7px 15px 0 15px;
    font-weight: 600;
    color: #3b506c;
    display: block;
}

.banner {
    padding: 130px 0 20px 0;
    text-align: center;

}

.banner h1 {
    font-size: 60px;
    color: #3b506c;
}

.banner p {
    text-align: center;
    font-size: 18px;
    color: #3b506c;
    margin: -40px 0 0 0;
}

.banner h1 span {
    color: rgb(12 102 255);
}

/* Image section */

.main-image {
    margin: 40px 0;
}

.main-image img {
    max-width: 600px;
    margin: auto;
    display: block;

}

.feature-section {
    padding: 70px;
}

.column {
    width: 50%;
    float: left;

}

.feature {
    padding: 40px;

}

.text-align {
    text-align: right;
}

.feature h2 {
    font-size: 60px;
    color: #3b506c;
    text-transform: lowercase;
}

.feature h2 span {
    color: #d67575;
}

.feature p {
    font-size: 18px;
    color: #3b506c;
}

.blog-section {
    margin-bottom: 50px;
}

.col {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 12px;
}

.blog {
    padding: 20px;
    border-radius: 2px;
    height: 350px;
}

.blog img {
    max-width: 100%;
    height: 200px;
}

.blog h3 {
    color: #3b506c;
    font-size: 20px;
}

.blog p {
    color: #3b506c;
    font-size: 15px;
}

.red {
    background-color: rgb(251 201 201);
}

.green {
    background-color: rgb(194 248 194 / 56%);
}

.yellow {
    background-color: rgb(248 248 187 / 69%);
}

.blue {
    background-color: rgb(171, 171, 253);
}

/*Footer Section*/
.wrapf {
    width: 1480px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(218, 216, 216, 0.644);

}

.colF {
    width: 25%;
    height: 550px;
    float: left;
    box-sizing: border-box;
    padding: 12px;

}


.blogF {
    padding: 20px;
    border-radius: 2px;
    height: 500px;

}

.blogF ul {
    list-style: none;
}

.blogF ul li {
    padding: 0;
    margin: 5px 0;
}

.blogF ul li a {
    color: #3b506c;
}

.blogF ul li h3 {
    color: #3b506c;

}